<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/buy-style.css">
</head>
<body>
    <header>
        <div class="nav-wrapper">
            <div class="logo">
                <p>Logo</p>
            </div>
            <div class="search-bar">
                <form action="">
                    <input type="search" name="" placeholder="Search for item" id="search">
                    <input type="submit" value="Search" id="submit">
                </form>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Market</a></li>
                    <li><a href="/contact">Cart</a></li>
                    <li><a href="/login">Log in</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>

        <% if (posts.length > 0) { %>
            <div class="all-posts">
                <% posts.forEach((element, index, array) => { %>

                    <div class="post">
                        <a href="/buy/details/<%= element._id %>">
                            <img src="<%= element.image %>" width="100%" height="300px" alt="image_of_product">
                            <div class="description">
                                <h2><%= element.productName  %> </h2>
                                <p>ZAR <%= Number((element.price).toFixed(2)).toLocaleString() %> </p>
                            </div>
                        </a>
                    </div>
        
                <% }); %>
            </div>
        <% } else { %>
            <p>No posts yet</p>
        <% } %>

    </main>

    <footer>
        <h2>Stay in touch</h2>

        &copy Copyrights Reserved | <script> document.write(new Date().getFullYear()); </script>
    </footer>
</body>
</html>