<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="sell-style.css">
</head>
<body>
    <header>
        <div class="nav-wrapper">
            <div class="logo">
                <p>Logo</p>
            </div>
            <div class="search-bar">
                <form action="">
                    <input type="search" name="" placeholder="Search for item" id="search">
                    <input type="submit" value="Search" id="submit">
                </form>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Market</a></li>
                    <li><a href="/contact">Cart</a></li>
                    <li><a href="/login">Log in</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="sell-main">

        <div class="wrap">
            <div class="sell-items-wrapper">
                <div class="heading-sell">
                    <h1>Give us the details and we'll post it for you</h1>
                </div>
    
                <form action="/sell" method="POST">
                    <div class="name">
                        <label for="">Name of item:</label>
                        <input type="text" name="productName" placeholder="Nike t-shirt" id="">
                    </div>
                    <div class="price">
                        <label for="">Price ZAR:</label>
                        <input type="text" name="price" placeholder="450.00" id="">
                    </div>
                    <div class="upload-image">
                        <label for="">Upload Image:</label>
                        <input type="file" name="image" alt="Submit" width="48" height="48">
                    </div>
                    <div class="message">
                        <label for="">Product description:</label>
                        <textarea name="description" style="resize: none;" id="" placeholder="Male - Size 14-15..." cols="30" rows="5"></textarea>
                    </div>
                    <div class="number">
                        <label for="">Cellphone number:</label>
                        <input type="tel" name="cellNumber" placeholder="e.g +27..." id="">
                    </div>
                    <div class="other-contact-details">
                        <label for="">Other contact details:</label>
                        <input type="text" name="otherDetails" placeholder="instagram, facebook, twitter..." id="">
                    </div>
                    <div class="sell-btn">
                        <button>Post Item</button>
                    </div>
                </form>
            </div>
        </div>
        

    </main>

    <footer>
        <h2>Stay in touch</h2>

        &copy Copyrights Reserved | <script> document.write(new Date().getFullYear()); </script>
    </footer>
</body>
</html>